* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tela {
    width: 100vw;
    height: 100vh;
    background-color: #282a36;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    width: 70vw;
    height: 10vh;
}